/node_modules
/public/
/public/**
/public/hot
/public/storage
/public/storage**
/public/storage/*
/public/storage/**
/public/sftoolbox
/public/buefy
/storage/*.key
/vendor
.idea/*
.idea/**/workspace.xml
.idea/**
**/.idea/workspace.xml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
serve.log
storage/antforcecom/antlr-4.7.2-complete.jar
storage/antforcecom/selfcontainedPMD.zip
storage/antforcecom/selfcontainedPMD/
storage/antforcecom/tooling/
storage/antforcecom/PMD/
storage/logs/laravel.log
storage/app/public/
storage/neo4j/00-setup/neo4j-community-3.5.13-unix.tar.gz
force-meta-backup/lib/
**/.DS_Store
/scripts/sfdc-ant/dataloader/zulu11.33.15-ca-jdk11.0.4-macosx_x64
/scripts/sfdc-ant/toolsZipReference/
/scripts/sfdc-ant/dataloader/dataloader_mac_v47.zip
/scripts/sfdc-ant/dataloader/dataloader_mac_v47/dataloader-47.0.0-uber.jar
/scripts/sfdc-ant/dataloader/zulu11.33.15-ca-jdk11.0.4-macosx_x64.zip
/scripts/sfdc-ant/lib/
/scripts/sfdc-ant/sfdx/package/
/scripts/apextimeline
/scripts/apextimeline/hello-play24-1.0-SNAPSHOT
datas/libs/
.idea

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws